.navList a {
  text-decoration: none;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px 10px;
}

.active-link a {
  text-decoration: none;
}
.link {
  color: black;
}

@media only screen and (max-width: 1000px) {
  .signout-btn {
    margin-top: 10px;
    margin-left: 20px;
  }
}
